name: cicd

on:
  push:
    paths:
      - src/**
      - .github/**
    branches:
      - main
      - feature/**

jobs:
  ci:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Shorten commit id
        shell: bash
        run: |
          echo "COMMIT_ID=${GITHUB_SHA::6}" >> "$GITHUB_ENV"
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          tags: docker.io/1234samue/python-app:${{ env.COMMIT_ID }}
          provenance: false
    outputs:
      commit_id: ${{ env.COMMIT_ID }}

  cd:
    needs: ci
    runs-on: self-hosted
    steps:

      - uses: actions/checkout@v3

      # - name: Set up Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.x'

      # - name: Install dependencies
      #   shell: bash
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install yq

      # - name: Modify values file
      #   shell: bash
      #   run: |
      #     echo ${{needs.ci.outputs.commit_id}}
      #     yq -Yi '.image.tag = "${{needs.ci.outputs.commit_id}}"' charts/python-app/values.yaml

      # - name: Configure Git
      #   run: |
      #     git config --global user.name 'github-actions[bot]'
      #     git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          
      # - name: Commit and push changes
      #   run: |
      #     git add charts/python-app/values.yaml
      #     git commit -m "Updates values.yaml with commit ${{needs.ci.outputs.commit_id}}"
      #     git push "https://${{ secrets.GH_TOKEN }}@github.com/samuelBarreto/python-app.git" HEAD:main
      #     token: ${{ secrets.GH_TOKEN }}

      - name: Install argocd
        shell: bash
        run: |
          curl -ksSL -o argocd https://argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv ./argocd /usr/local/bin/argocd

      - name: Argocd app sync
        shell: bash
        run: |
          argocd login argocd1-server.argocd \
            --insecure  \
            --grpc-web \
            --username admin \
            --password  ${{ secrets.ARGOCD_PASSWORD }}
          argocd app sync python-app
